{% extends 'layouts/base.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}

<div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Dashboard</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="/">Dashboards</a></li>
                <li class="breadcrumb-item active" aria-current="page">Default</li>
              </ol>
            </nav>
          </div>

          <div class="col-lg-6 col-3">
            <a href="{% url 'add-profile' %}" class="btn btn-secondary ">Add Profile</a>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="container">
  {% include 'partials/_messages.html' %} {% if profile.count %}
 <div class="row">
   <div class="col-md-8">


   </div>
 </div>
 
<div class="app-table">
  <table class="table table-stripped table-hover">
   
    <thead>
      <tr>
        <th>Profile Description</th>
        <th>GSTIN</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for accdetails in accdetails %}
      <tr>
        <td>{{accdetails.firmname}}</td>
        <td>{{accdetails.gstin}}</td>
        <td><a href="{% url 'profile-edit' %}" class="btn btn-secondary btn-sm" >Edit</a> </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>



</div>
  <div class="table-output">
    <table class="table table-stripped table-hover">
   
      <thead>
        <tr>
          <th>Firm Name</th>
          <th>GSTIN</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="table-body">
        
      </tbody>
    </table>




  </div>




<!-- <div class="pagination-container">
  <div class="">
    Showing page {{page_obj.number}} of {{ page_obj.paginator.num_pages }}
  </div>

  <ul class="pagination align-right float-right mr-auto">
    {% if page_obj.has_previous %}
    <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a class="page-link" href="?page=1">&laquo; 1</a></li>
    <li class="page-item"> <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
    {% endif %}

    {% if page_obj.has_next %}
    <li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
    <li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a></li>
    {% endif %}


    </ul> -->


  {% endif %}
<!-- </div>
</div>
</div> -->
         
{% include "includes/footer.html" %}
      
   
{% endblock content %}